#!/bin/bash
#
# Sample config file.
#
# All config is supplied to pricebroadcaster as environment variables.
#
# Author : Scott Barr
# Date   : 4 Aug 2022
#

#
# redis url
#
# Used by price-publisher
export REDIS_URL=redis://127.0.0.1:6379

#
# The Redis key to publish prices to.
#
# Subscribers should subscribe to this key.
export ROOM="dev:prices"

#
# The HTTP address to listen on for price-http
#
# This is an optional component. You only need it if you want to provide a HTTP interface.
export BIND=:9000
