# Sample config file.
#
# All config is supplied to pricebroadcaster as environment variables.

# Default
export REDIS_HOST=127.0.0.1

# Default
export REDIS_PORT=6379

# Default
export REDIS_DB=0

# Required
export ROOM="dev:data"

# Default
export SLEEP_TIME=1000

# Minimum one symbol is required
export SYMBOLS="SPY ^GSPC ^IXIC ^HSI ^AORD ^N225 ^STI ^FTSE ^GDAXI EURUSD=X USDJPY=X GBPUSD=X USDCHF=X USDAUD=X"
